<section class="header-section">
  <div>Our Team</div>
</section>
<section class="main-container main-container-about">
  <div class="card-group about_card_group">
    <div class="card about_us_section">
      <img class="card-img-top about_us_img" src="/images/bret.jpg" alt="Bret Profile Picture">
      <div class="card-body">
        <h5 class="card-title drink_of_day_label">Bret</h5>
        <h3 class="card-text">CEO</h3>
        <br>
        <p class="card-text">Set a grand vision and plan for bringing new drink recipes to people. Has passion for directing the company forward into new sectors</p>
        <br>
        <h6 class="row justify-content-center"><p>bret@example.com</p></h6>
      </div>
    </div>
    <div class="card about_us_section">
      <img class="card-img-top about_us_img" src="/images/cole.jpg" alt="Cole Profile Picture">
      <div class="card-body">
        <h5 class="card-title drink_of_day_label">Cole</h5>
        <h3 class="card-text">CFO</h3>
        <br>
        <p class="card-text">Has extensive investor relations and an invested interest in risk management of corporate capital.</p>
        <br>
        <h6 class="row justify-content-center"><p>cole@example.com</p></h6>
      </div>
    </div>
    <div class="card about_us_section ">
      <img class="card-img-top about_us_img" src="/images/sophia.jpg" alt="Sophia Profile Picture">
      <div class="card-body">
        <h5 class="card-title drink_of_day_label">Sophia</h5>
        <h3 class="card-text">SEO Anaylst</h3>
        <br>
        <p class="card-text">Create leads and generate organic traffic, and research keywords.</p>
        <br>
        <h6 class="row justify-content-center"><p>sophk@example.com</p></h6>
      </div>
    </div>
    <div class="card about_us_section">
      <img class="card-img-top about_us_img" src="/images/bentura.jpg" alt="Bentura Peralez Profile Picture">
      <div class="card-body">
        <h5 class="card-title drink_of_day_label">Bentura Peralez</h5>
        <h3 class="card-text">UI/UX Designer</h3>
        <br>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <br>
        <h6 class="row justify-content-center"><p>bentura@example.com</p></h6>
      </div>
    </div>
  </div> 
</section>