<div class="header-section">
  <div>Averages</div>
</div>
<main class="main-container">
  <section class="boxes d-flex">
    <div class="box red">
      <div class='box-title'>Steps</div>
      <div class="box-value">Value</div>
      <i class="fas fa-walking"></i>         
    </div>
    <div class="box cyan">
      <div class='box-title'>Water</div>
      <div class="box-value">Value</div>
      <i class="fas fa-tint"></i>
    </div>
    <div class="box green">
      <div class='box-title'>Sleep</div>
      <div class="box-value">Value</div>
      <i class="fas fa-bed"></i>       
    </div>
    <div class="box blue">
      <div class='box-title'>Calories</div>
      <div class="box-value">Value</div>
      <i class="fas fa-heartbeat"></i>
    </div>
  </section>
  <section class="tab-title">
    <div class='tab-header'>
      Keep Track Of Your Health
    </div>
    <nav class='tab-sections'>
      <ul>
        <li class="tabs tab-1">Steps</li>
        <li class="tabs tab-2">Water</li>
        <li class="tabs tab-3">Sleep</li>
        <li class="tabs tab-3">Calorie</li>
      </ul>
    </nav>
    <div class="tab-container">
      <div class="steps-graph">
        Steps Graph
      </div>
      <div class="water-graph hidden">
        Water Graph
      </div>
      <div class="sleep-graph hidden">
        Sleep Graph
      </div>
      <div class="calorie-graph hidden">
        Calorie Graph
      </div>
    </div>
  </section>
</main>