<div class="header-section">
  <div>Contact</div>
</div>
<main class="main-container">
  <div class="contact-background">
    <section class="contact">
      <div class="contact-body">
        <div class="contact-body-item left">
          <div class="contact-title">
            CONTACT US
          </div>
        </div>
        <div class="screen-body-item">
          <div class="contact-form">
            <div class="contact-form-group">
              <input class="contact-form-item" placeholder="NAME">
            </div>
            <div class="contact-form-group">
              <input class="contact-form-item" placeholder="EMAIL">
            </div>
            <div class="contact-form-group">
              <input class="contact-form-item" placeholder="CONTACT NO">
            </div>
            <div class="contact-form-group message">
              <input class="contact-form-item" placeholder="MESSAGE">
            </div>
            <div class="contact-form-group buttons">
              <button type="submit" class="contact-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="submit-contact hidden">
      <div class="submit-response">
        Thank you for reaching out we will respond to you submittion shortly.
      </div>
    </section>
  </div>
</main>

<script src="./assets/js/form.js"></script> 