<section class="header-section">
  <div>Contact</div>
</section>
<section class="main-container">
  <div class="contact-background">
    <section class="contact">
      <div class="contact-body">
        <div class="contact-body-item left">
          <div class="contact-title">
            CONTACT US
          </div>
        </div>
        <div class="screen-body-item">
          <div class="contact-form">
            <div class="contact-form-group message">
              <textarea class="contact-form-item" id="message" placeholder="MESSAGE"></textarea>
            </div>
            <div class="contact-form-group buttons">
              <button type="submit" class="contact-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="submit-contact hidden">
      <div class="submit-response">
        Thank you for reaching out we will respond to you submittion shortly.
      </div>
    </section>
  </div>
</section>

<script src="/js/contact.js"></script> 