<section class="header-section">
  <div>Calorie Counter</div>
</section>
<section class="main-container">
      <div class="container-lg">
        <div class="table-responsive">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8"><h2>Track Your Health</h2></div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                  </div>
              </div>
            </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Calorie Count</th>
                <th>Exercise</th>
                <th>Sleep</th>
                <th>Water</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input class="form-input form-control" type="date" id="day"></td>
                <td><input class="form-input form-control" type="text" id="calorie"></td>
                <td><input class="form-input form-control" type="text" id="exercise"></td>
                <td><input class="form-input form-control" type="text" id="sleep"></td>
                <td><input class="form-input form-control" type="text" id="water"></td>
                <td>
                    <a class="add" id="save" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                    <a class="edit" id="update" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                    <a class="delete" id="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
              </tr>  
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <input type="text" id="logs" value="{{logs}}" hidden>
      <script src="/js/form.js"></script> 
  </body>
</html>