<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "../public/css/form.css">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
    crossorigin="anonymous"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
    rel="stylesheet" />
  
</head>
<body>
    <main class = "d-flex" > 
    
    <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Monday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>


    <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Tuesday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Wednesday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Thursday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>

        <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Friday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>
    
    <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Saturday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2 d-flex flex-column">
        <h1>Sunday</h1>
    <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="calories">Caloric Intake:</label>
           <input type="calories" id="caloric_intake" name="user_calories">
         </li>
        </ul>
       </form>
   
 
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Amount of hours slept:</label>
           <input type="sleep" id="hours_slept" name="user_sleep">
         </li>
        </ul>
       </form>
   

    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="water">Water Intake (in Liters):</label>
           <input type="water" id="water_intake" name="user_water">
         </li>
        </ul>
       </form>
    
       <form action="/my-handling-form-page" method="post">
        <ul style="list-style: none;">
         <li>
           <label for="steps">Amount of steps taken:</label>
           <input type="steps" id="steps_taken" name="user_steps">
         </li>
         <li class="button">
            <button type="submit">Submit Info</button>
         </li>
        </ul>
       </form>
    </div>

    </main>
    
</main>   
</body>
</html>