<div class="header-section">
      <div>Dashboard</div>
    </div>
    <main class="main-container">
      <section class="dashboard-header">
        <button>
          Add Your Weekly Data   
        </button>
      </section>
      <section class="boxes d-flex">
        <div class="box red">
          <div class='box-title'>Steps</div>
          <div class="box-value">Value</div>
          <i class="fas fa-walking"></i>         
        </div>
        <div class="box cyan">
          <div class='box-title'>Water</div>
          <div class="box-value">Value</div>
          <i class="fas fa-tint"></i>
        </div>
        <div class="box green">
          <div class='box-title'>Sleep</div>
          <div class="box-value">Value</div>
          <i class="fas fa-bed"></i>       
        </div>
        <div class="box blue">
          <div class='box-title'>Calories</div>
          <div class="box-value">Value</div>
          <i class="fas fa-heartbeat"></i>
        </div>
      </section>
      <section class="tab-title">
        <div class='tab-header'>
          Keep Track Of Your Health
        </div>

        <div class="d-flex">
          <nav class='tab-sections'>
            <ul>
              <li class="tabs tab-1">Steps</li>
              <li class="tabs tab-2">Water</li>
              <li class="tabs tab-3">Sleep</li>
              <li class="tabs tab-3">Calorie</li>
            </ul>
          </nav>
          <div class="tab-container" >
            <div class="calorie-graph">
              Calories Graph

{{!-- -------------chart.js-------------- --}}
<div style="margin: auto; height:375px; width:400px">
        <canvas id="myChart" width="600" height="385"></canvas>
</div>
{{weeklyCalorieAvgs.allUserCalories}}
{{weeklyCalorieAvgs.thisUserCalories}}
<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Average Daily Calories'],
        datasets: [
            {
                label: 'You',
                data: [1500],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            },
            {
                label: 'Everone',
                data: [2000],
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            },
        ]
    },
    options: {
        scales: {
            yAxes: [{
            display: true,
            ticks: {
                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                suggestedMax: 3000,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
        }
    }
});
</script>
{{!-- -------------chart.js-------------- --}}

      </div>
          <div class="water-graph hidden">
            Water Graph
          </div>
          <div class="sleep-graph hidden">
            Sleep Graph
          </div>
          <div class="steps-graph hidden">
            Steps Graph
          </div>
        </div>
        </div>
      </section>
    </main>