/********************************************************************************
CSS TABLE OF CONTENTS
===== Base ====
    |-- 1.0 - Reset
    |-- 2.0 - Gobal
    |-- 3.0 - Navbar
    |-- 4.0 - About
    |-- 5.0 - Project
    |-- 6.0 - Footer
    |-- 7.0 - Responsive
********************************************************************************/

/********************************** 1.0 - Reset ********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/***************************** 2.0 - Global ******************************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*,
*:before,
*:after {
  font-weight: 100;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

html,
body {
  height: 100%;
  color: rgb(0, 0, 0);
  background: #f9fafa;
  letter-spacing: 1.4px;
}

.main-container {
  margin: 1em 1em 2em 17em;
}

.hidden {
  display: none;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#000000; 
  text-decoration:none; 
  cursor:pointer;  
}


/****************************** 3.0 - Scroll **************************/
::-webkit-scrollbar {
  width: .6em;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #ea1d6f;
  border: 3px none #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/****************************** 4.0 - Navbar **************************/ 
.side-bar {
  background-color:rgb(238, 247, 247);
  position: fixed;
  transition: all 0.5s ease;
  top: 0;
  border-right: 2px solid rgb(0, 0, 0);
  width: 15em;
  height: 100%;
  z-index: 3;
}

.logo-section {
  top:0;
  display: flex;
  font-size: 1.1rem;
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(95, 110, 114));
  border-bottom: 2px solid rgb(0, 0, 0);
  align-items: center;
  white-space: nowrap;
  color: black;
  height: 4.1em;
  padding: .4em;
  box-shadow: 0px 30px 40px -20px rgba(0, 0, 0, 0.438);
}

.navbar-icon {
  color:#ea1d6f;
  border-radius: 5px;
  border: 1px solid black;
  padding: .4em;
}

.user-section {
  margin: 1em 1em 0em;
}

.menu-section {
  margin-top: 4em;
  padding: 1em;
  position:relative;
}

.features-list {
  padding: .1em;
  padding-bottom: 1rem;
  list-style: none;
}

.features-item {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
}

.features-item:hover {
  box-shadow: inset 10em 0 0 #ea1d6f;;
}

.features-item a {
  display: flex;
  align-items: center;
  font-weight: 300;
  padding: .4em;
}

.features-item-title {
  margin-left: .5em;
  font-size: .9em;
}

.category-list {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.category-header {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  margin: 1.3em 0 1em 0;
  border-top: 3px solid #ea1d6f;
  white-space: nowrap;
  box-shadow: 0px 30px 40px 20px rgba(77, 76, 76, 0.048);
}

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgb(95, 110, 114));
  border-top: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 30px 40px 20px rgba(0, 0, 0, 0.473);
}

.sidebar-footer  a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: black
}


/****************************** 5.0 - Homepage **************************/
.main-container-home {
  height:100%;
}

.home-background {
  background: url(/images/home-5.jpg) no-repeat  center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  
}


.home-page-title {
  position: absolute;
  display: flex;
  background:#ea1d6f;
  height: 6em;
  margin: 15em 0 0 35em;
  color: white;
  font-weight: 700;
  padding: 2em;
  width: 40em;
  border-radius: 15px 0 0 15px;
  right: 0;
}


/********************* 6.0 Contact Page **********************/
.contact-background {
  display: flex;
  height: 20em;
  margin: 6em;
  padding: 10px;
  background: #e4edf0;
  border-radius: 15px;
  border-top: 1.5em solid rgb(78, 75, 75);
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
}

.message-section {
  width: 100%;
}



.contact-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 2em;
}

.contact-form {
  margin-top: auto;
  color: rgb(0, 0, 0);
}

.contact-form-group {
  margin-bottom: 15px;
}

.contact-form-group.message {
  width: 100%;

}

.contact-button {
  margin-bottom: 0;
  text-align: right;
}

.contact-form-item {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: rgb(0, 0, 0);
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.contact-form-item::placeholder {
  color: rgb(0, 0, 0);
}


/**************** 7.0 Dashboard Top ***********/
.dashboard-header {
  margin: 4em auto 4em;
}

.boxes {
  margin: 3em auto;
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px rgb(67, 71, 75);
  padding: 30px;
  margin: 20px; 
  background: white; 
}

.cyan {
  border-top: .3em solid rgb(174, 226, 233);
}

.red {
  border-top: .3em solid rgb(255, 8, 8);
}

.blue {
  border-top: .3em solid rgb(43, 149, 236);
}

.green {
  border-top: .3em solid rgb(192, 247, 197);
}


/************************** 8.0 Tab **********************/
.tab-title {
  width: 70%;
  height: 80%;
  margin: auto;
  border-radius: 8px;
  background: #f0f0f0;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.tab-header {
  background: #f0f0f0;
  color: #555;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 4px -2px rgba(126, 126, 126, 0.3);
  position: relative;
  z-index: 8;
}

.tab-sections {
  width: 20%;
  background-color:rgb(139, 167, 167);
}

.tabs {
  height: 4.5em;
}

.tab-container {
  height: 18em;
  display:flex;
  justify-content:center;
}

.tabs {
  line-height: 3;
  padding: 0 1rem;
  border-right: 1px solid #f0f0f0;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
}


/************************** Login **********************/
.register-section {
  margin-top: 5em;
  display: flex;
  justify-content: center;

}

.login-section {
 padding: 1em 3em;
 width: 70%;
 background-color: rgb(160, 190, 184);
}

.signup-section {
  padding: 1em 3em;
  width: 70%;
  background-color: #cf7b9c;
}

button {
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
}

button:hover {
  background: #EAC7CC;
  color: #f6f6f6;
  transition: background-color 1s ease-out;
}

.button {
  margin-top: 3%;
  background: #f6f6f6;
  color: #ce7d88;
  border: solid 1px #EAC7CC;
}

.submit {
  margin-top: 25px;
  padding: 12px;
  border-color: #ce7d88;
}

.submit:hover {
  background: #CBC0D3;
  border-color: #bfb1c9;
}




/******************************* 5.0 - Section Titles ***************************/
.header-section { 
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(95, 110, 114));
  border-right: rgb(28, 32, 32) .15em solid;
  border-left: rgb(21, 26, 25) .15em solid;
  border-bottom: rgb(24, 34, 33) .10em solid;
  top: 0;
  height: 3em;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  box-shadow:20px 20px 50px grey;  
  color: black;
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  margin-left: 10em;
}




/******************************* 5.0 - Table ***************************/

.table-wrapper {
  width: 90%;
  margin: 30px auto;
  background: #fff;
  padding: 20px;	
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 15px;
  border-top: 1em solid rgb(66, 64, 64);
}
.table-title {
  padding-bottom: 10px;
  margin: 0 0 10px;
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}
table.table {
  table-layout: fixed;
}
table.table tr th, table.table tr td {
  border-color: #e9e9e9;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: 100px;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}    
table.table td a.save {
  color: #27C46B;
}
table.table td a.edit {
  color: #FFC107;
}
table.table td a.cancel {
  color: #E34724;
}
table.table td a.delete {
  color: #E34724;
}
table.table td i {
  font-size: 19px;
}
table.table td a.save i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}    
table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
tr.inputs td {
  padding: 2px;
}
tr.inputs input {
  margin: 4.5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #fff;
}
tr.inputs input:focus {
  border-bottom: 1px solid #369;
}



/******************************* 5.0 - Responsive ***************************/

@media screen and (max-width: 1000px) {
  .main-container {
    margin: 0;
  }

.side-bar {
  width: 100%;
  height: 15em;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.logo-section {
  font-size: 1rem;
  height: 3em;
  padding: .2em;
  text-align: center;
}

.menu-section {
  margin-top: 0em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}


.navbar-icon {
  color:#ea1d6f;
  border-radius: 5px;
  border: .5px solid black;
  padding: .1em;
}



.features-list {
  padding: 0em;
  padding-bottom: .1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.features-item {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
}

.features-item a {
  font-weight: 100;
  padding: .1em;
}

.features-item-title {
  font-size: .9em;
}

.category-list {
  padding-top: 2.1rem;
  padding-bottom: 0.9rem;;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.category-header {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  margin: 0;
  border-bottom: 1px solid #ea1d6f;
  white-space: nowrap;
  box-shadow: 0px 30px 40px 20px rgba(77, 76, 76, 0.048);
}

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgb(95, 110, 114));
  border-top: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 30px 40px 20px rgba(0, 0, 0, 0.473);
}

.sidebar-footer  a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: black
}

  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 20%;
   
  }
  .header p {
      width: 30%;
  }
  



  .header-section { 
  width: 100%;
  margin-top:10em;
  height: 2em;
  margin-left:0;
  }
  
  body{
    overflow: scroll;
  }
  
  .register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  .contact-background {
    margin: 2em 0;
    flex-direction: column;
  }
  .tab-sections {
    display: flex;
    flex-direction: row;
  }
   
}

